/* glitch mood theme */
.style { gutter:2; bgColor:#34312C; colors:[#6CB745,#7FBD42,#8FBF42,#B8C034,#D8C228,#ECBE1F,#EDA028,#EB682C,#DC4A2D,#CB202E]; }
.time  { leading:-2px; font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center; font-family:"helvetica neue, helvetica, arial, sans-serif"; }
.label { leading:-2px; font-size:10px; font-weight:bold; color:#34312C; text-align:center; font-family:"helvetica neue, helvetica, arial, sans-serif"; }